<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
<meta charset="UTF-8">
<title>Survey</title>
<link rel="stylesheet" href="css/style.css" type="text/css">
<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="js/app.js"></script>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
</head>
<body ng-app="surveyApp">
	<div style="text-align: center;background-color: #EEEEEE;padding: 4px 5px">
			<h2>Survey For Personality Prediction</h2>
	</div>
	<div ng-controller="mainController" id="contents" style="width: 900px;padding:	10px 20px">
		<div class="clearfix" ng-hide="hideSurvey">
			<h4>
				We are students from <a href="http://www.in.tum.de/">Technical
					Universität München</a>. We are working on a project which aims at
				predicting the personality type of a person depending on the tweets
				posted by him. Please go through the tweets listed below and
				categorize the person to one of the given personality types. We
				really thank you for your invaluable time.
			</h4>
			<div>
				<table class="table table-striped">
					<thead>
						<tr>
							<th style="padding: 5px 5px;margin-bottom: 5px;margin-top: 5px;"><h3>Tweets</h3></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="tweet in userData.tweets track by $index">
							<td style="font-size: 15px;">{{tweet.text}}</td>
						</tr>
					</tbody>
				</table>
				<br />
				<p style="font-style: oblique; font-size: 20px;">Which one of
					the following personality types describes this person best?</p>

				<form action="">
					<div ng-repeat="personality in personalityTypes">
						<input type="radio" ng-model="selection.name" name="name"
							value="{{personality.name}}" /> <label> <b>{{personality.name}}</b>
							( {{personality.desc}} )
						</label>
					</div>
				</form>
				<p>{{noSelectionErrorMsg}}</p>
			</div>
		<div style="text-align: center">
			<button class="btn btn-xs btn-success" ng-click="submit()">Submit</button>
		</div>
		</div>
		<div style="text-align: center" ng-show="hideSurvey"><h3>Thank you for filling
			the survey :)</h3></div>
	</div>
	
	<div id="footer">
	</div>
</body>
</html>
